### VisualStudioCode ###
.vscode/*
*.code-workspace

# # Local History for Visual Studio Code
.history/

# ### VisualStudioCode Patch ###
# # Ignore all local history of files
.history
.ionide

# # index.html 
code/Jeonghwan-code/index.html
code/Paul-code/index.html